## 1. Calculate the moving average of sales for the past 3 months.
columns = sales, month, table=month_sales

select 
    month, 
    avg(sales) over (order by month desc rows between 2 preceeding and current row) as 3_month_rolling_sales
from month_sales

## 2. Assign a dense rank to employees based on their salary.
columns = emp_id, salary, table=empployee_salary
select 
    empI_id, 
    dense_rank() over(order by salary desc) as emp_rank
from empployee_salary

## 3. Retrieve the first and last order date for each customer.
columns = customer_id, order_date, table=orders
select 
    customer_id, 
    min(order_date) as last_order, 
    max(order_date) as first_order
from orders
groupby customer_id

## 4. Find the Nth highest salary for each department using window functions.
columns = staff_id, dept, salary, table=emp_salary
set n = 5
with dept_salary_rank as (
    select 
        staff_id, 
        salary, 
        dense_rank() over (partition by dept order by salary desc) as salary_rank
)
select * from dept_salary_rank where salary_rank = n



## 5. Determine the percentage of total sales contributed by each employee.
<!-- one row for each employee sales -->
columns = emp_id, sales table=emp_sales

with total_sales as (
    select sum(sales) as total_sales
    from emp_sales
     
)
select 
    emp_id, 
    (1 - (e.sales/ s.total_sales)) * 100
from emp_sales e
left join total_sales s on 1=1
<!-- second approach -->
select 
    emp_id, 
    (sales/ sum(sales) over()) * 100 as pct_total
from emp_sales 
order by pct_total
<!-- multiple rows for each employee sales -->
with total_emp_sales as (
    select emp_id , sum(sales) as total_sales
    from emp_sales
     
),
total_sales as (
    select sum(sales) as total_sales
    from emp_sales
     
)
select 
    emp_id, 
    (1 - (e.sales/ s.total_sales)) * 100
from total_emp_sales e
left join total_sales s on 1=1



## 6. Use a CTE to split a full name into first and last names.
columns = name, sales table=name_table

select 
    split(name, " ")[offset(0)] as firstnmae,
    split(name, " ")[offset(1)] as lastname
from name_table

## 7. Write a CTE to find the longest consecutive streak of sales for an employee.

with recursive x as (
    select 0 as a, 1 as b
    union all
    select b as x.a, x.b+1 as b
    from x 
    where x.fib < n -1
)

In [9]:
def fib(n):
    if n <= 1:
        return n
    return fib(n-1) + fib(n-2)

In [10]:
fib(2)

1

30 most asked SQL questions to clear your next interview - 
➤ 𝗖𝗼𝗺𝗺𝗼𝗻 𝗧𝗮𝗯𝗹𝗲 𝗘𝘅𝗽𝗿𝗲𝘀𝘀𝗶𝗼𝗻𝘀 (𝗖𝗧𝗘)

1. Use a CTE to split a full name into first and last names.
2. Write a CTE to find the longest consecutive streak of sales for an employee.
3. Generate Fibonacci numbers up to a given limit using a recursive CTE.
4. Use a CTE to identify duplicate records in a table.
5. Find the total sales for each category and filter categories with sales greater than a threshold using a CTE.

➤ 𝗝𝗼𝗶𝗻𝘀 (𝗜𝗻𝗻𝗲𝗿, 𝗢𝘂𝘁𝗲𝗿, 𝗖𝗿𝗼𝘀𝘀, 𝗦𝗲𝗹𝗳)

1. Retrieve a list of customers who have placed orders and those who have not placed orders (Full Outer Join).
2. Find employees working on multiple projects using a self join.
3. Match orders with customers and also display unmatched orders (Left Join).
4. Generate a product pair list but exclude pairs with identical products (Cross Join with condition).
5. Retrieve employees and their managers using a self join.

➤ 𝗦𝘂𝗯𝗾𝘂𝗲𝗿𝗶𝗲𝘀

1. Find customers whose total order amount is greater than the average order amount.
2. Retrieve employees who earn the lowest salary in their department.
3. Identify products that have been ordered more than 10 times using a subquery.
4. Find regions where the maximum sales are below a given threshold.

➤ 𝗔𝗴𝗴𝗿𝗲𝗴𝗮𝘁𝗲 𝗙𝘂𝗻𝗰𝘁𝗶𝗼𝗻𝘀

1. Calculate the median salary for each department.
2. Find the total sales for each month and rank them in descending order.
3. Count the number of distinct customers for each product.
4. Retrieve the top 5 regions by total sales.
5. Calculate the average order value for each customer.

➤ 𝗜𝗻𝗱𝗲𝘅𝗶𝗻𝗴 𝗮𝗻𝗱 𝗣𝗲𝗿𝗳𝗼𝗿𝗺𝗮𝗻𝗰𝗲

1. Write a query to find duplicate values in an indexed column.
2. Analyze the impact of adding a composite index on query performance.
3. Identify columns with high cardinality that could benefit from indexing
4. Compare query execution times before and after adding a clustered index.
5. Write a query that avoids the use of an index to test performance differences.